#radio{
    opacity:.85;
    filter:alpha(opacity=85);
    filter: “alpha(opacity=85)”;   
}

#background{
    width:758px;;
    height:140px;
    position:relative;
}
div#showSearch{
    width:350px;
    height:20px;
    background-color:rgba(0,0,0,0.4);
    padding:10px;
    position:absolute;
    bottom:0;
    right:0;
}
div#showSearch input{
    width:200px;
    height:20px;
}
div#showSearch img{
    width:20px;
    height:20px;
}

div.episode{
    width:758px;
    height:75px;
    background-color:rgba(255,255,0,0.2);
    border-bottom-style:solid;
    border-bottom-color:black;
    border-width:1px;
}
span.epIMG{
    height:75px;
    width:100px;
    float:left;
}
span.epIMG img{
    height:65px;
    width:90px;
    margin-left:5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}
span.epName{
    height:55px;
    width:550px;
    display:table;
    padding:10px;
    float:left;
}
span.epName p{
    display:table-row;
    vertical-align:middle;
}
p.air_date{
    font-size:small;    
}
span.epDownload{
    height:50px;
    width:50px;
    margin-left: 30px;
}
span.epDownload img{
    height:40px;
    width:40px;
    margin:5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}
div#episodes{
    height:360px;
    overflow-y:scroll;
}
div.pbSearch{
    background-color:rgba(0,0,0,.2);
    width:758px;
    height:0;
}


#recentTitle{
    background-color:rgba(255,255,255,.5);
    height:60px;
    font-size:30px;
}
.dateHeader{
    padding: 5px;
    background-color:rgba(0, 0, 0, .5);
    color:white;
}
         
