.torrent{
    position:static;
    overflow: hidden;
    width:100%;
    height:26px;
}
div.torrent:hover{
    cursor:pointer;
    background-color:yellow;
}
div.torrent.selected{
    background-color:orange;
}
.vip{
    background-color:green;
}
.trusted{
    background-color:purple;
}

/* Torrent template */
table.torrent{
    table-layout: fixed;
    width: 100%;
}
table.torrent td{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding: 0px 5px;
}
.seeds{
    color:#22ff22;
}
.leeches{
    color:#ff2222;
}

.link img{
    width:20px;
    height:20px;
    float:right;
}
