{% load staticfiles %}

<head>
    <link rel="stylesheet" href="{% static "css/seasons.css" %}" type="text/css" />
</head>
<div id="episodes" style="height:400px">
<div id="recentTitle">This Week's Shows</div>
{% for day in days %}
    <div class="dateHeader"> {{day.day|date:"l F d, Y"}}</div>

    {% for ep in day.eps %}
    <div class="episode" id="{{ ep.id }}" title="{{ ep.overview }}">
        <table>
        <tr>
        <td>
            <span class="epIMG">
                {% if ep.image == "http://www.thetvdb.com/banners/" %}
                <img src="{% static "img/not_available.jpg" %}">
                {% else %}
                <img src="{{ ep.image }}">
                {% endif %}
            </span>
        </td>
        <td>
            <span class="epName">
                <p style="font-size:18px;">{{ep.show_name}}</p>
                <p>S{{ep.season}}E{{ep.number}} - {{ ep.name }}</p>   
            </span>
        </td>
        <td>
            <span class="epDownload">
                {% if ep.path == "" %}
                <a style="cursor:pointer;">
                    <img src="{% static "img/the_pirate_bay_logo.jpg" %}">
                </a>
                {% else %}
                <img src="{% static "img/Checkmark.png" %}">
                {% endif %}
            </span>
        </td>
        </tr>
        </table>
    </div>
    <div class="pbSearch" id="p{{ ep.id }}"></div>
    {% endfor %}

{% endfor %}
</div>
