{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/utorrent.css" %}" type="text/css" />
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/utorrent.js" %}"></script>

{% if not torrs %}
<div id="refresh">Refresh</div>
<div id="background">
No active torrents
{% else %}
<div id="refresh" class="r_enabled">Refresh</div>
<div id="background">
{% endif %}

{% for torr in torrs %}
<div class="torrentbg">
    <div class="green" style="width:{{torr.percent}}px;"></div>
    
    <div class="torrent">
        <table>
            <tr>
                <td class="name">{{torr.name}}</td>
                <td class="percent">({{torr.percent_str}}%)</td>
                <td class="seeds">{{torr.seeds}}({{torr.peers}})</td>
                <td class="down">{{torr.down_speed_str}}</td>
            </tr>
        </table>
    </div>
</div>
{% endfor %}
</div>
